<?xml version="1.0" encoding="utf-8"?>
<configuration><system.webServer>
  <security><requestFiltering><requestLimits maxAllowedContentLength="115343360" /></requestFiltering></security>
  <rewrite><rules>
    <rule name="Sensitive files" stopProcessing="true"><match url="(^|/)(\.env[^/]*|appsettings[^/]*|web\.config|[^/]*\.(fdb|fbk|gdb|pfx|pem|key|bak))$" ignoreCase="true" /><action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" /></rule>
    <rule name="HTTPS" stopProcessing="true"><match url="(.*)" /><conditions><add input="{HTTPS}" pattern="off" /></conditions><action type="Redirect" url="https://__DOMAIN__/{R:1}" redirectType="Permanent" /></rule>
    <rule name="Trusted proxy scheme"><match url="(.*)" /><serverVariables><set name="HTTP_X_FORWARDED_PROTO" value="https" /></serverVariables><action type="None" /></rule>
    <rule name="Documentation SSR" stopProcessing="true"><match url="^(apiconteudos/docs|docs|api/documentacao)(/.*)?$" /><action type="Rewrite" url="http://127.0.0.1:3000/{R:0}" /></rule>
    <rule name="API prefix stripped" stopProcessing="true"><match url="^api-dotnet(?:/(.*))?$" /><action type="Rewrite" url="http://127.0.0.1:5080/{R:1}" /></rule>
    <rule name="API and Swagger" stopProcessing="true"><match url="^(api|apiconteudos/v1|swagger|health)(/.*)?$" /><action type="Rewrite" url="http://127.0.0.1:5080/{R:0}" /></rule>
    <rule name="Runtime static" stopProcessing="true"><match url="^static(/.*)?$" /><action type="Rewrite" url="http://127.0.0.1:5080/{R:0}" /></rule>
    <rule name="Legacy uploads" stopProcessing="true"><match url="^uploads/(.*)$" /><action type="Rewrite" url="http://127.0.0.1:5080/static/uploads/{R:1}" /></rule>
    <rule name="Nuxt SSR" stopProcessing="true"><match url="(.*)" /><action type="Rewrite" url="http://127.0.0.1:3000/{R:0}" /></rule>
  </rules></rewrite>
</system.webServer></configuration>
